table{
  text-align: center;
  position: relative;
  border-collapse: collapse; 
}
th {
  white-space: nowrap;
  background: rgb(191, 208, 241);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  z-index: 10;
}


table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 50px;

}
table tbody tr:nth-of-type(even) {
  background-color: #f6f6f6;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #4bbd7f;
}

table .edit-cell-container button {
  border-radius: 50px;
  height: 26px;
  width: 26px;
  border: 1px solid #ccc;
  color: #ffb918;
}
table button[name="cancel"] {
  color: #7b7b7b;
}
table button[name="done"] {
  color: #4bbd7f;
}
table input,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
table .edit-cell {
  display: flex;
  gap: 5px;
}
